*{
  box-sizing: border-box;
  margin : 0;
  padding : 0;
}

.search-input{
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items : center;
  background-color : #EEF3F8;
  color : gray;
  height : 35px;
  padding-left : 15px;
  border-radius : 5px;
}

header{
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
  padding : 0px 180px 0px 180px;
}

.header-left{
  display : flex;
  flex-direction : row;
  justify-content : flex-start;
  align-items : center;
  width : 300px;
}

.header-right {
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
  color : gray;
  width : 500px;
  padding-top : 5px;
}

.search-input input {
  outline : none;
  border : none;
  background-color : #EEF3F8;
  font-size : 16px;
}

.options-icons {
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  cursor : pointer;
  font-size : 12px;
}

.options-icons:hover {
  color : black;
}

.profile-avatar{
  font-size : 12px;
}

.profile-avatar img {
  object-fit: contain;
  height : 20px !important;
  width : 20px !important;
  border-radius : 100px;
}

.profile-avatar:hover {
  color : black;
  cursor : pointer;
}