@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root{
  --sidebarPadding : 0px 8px 0px 8px;
}

*{
  box-sizing: border-box;
  margin : 0;
  padding : 0;
  font-family : 'Noto Sans', sans-serif;
}

body{
  background-color : rgb(243,242,239);
}

.search-input{
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items : center;
  background-color : #EEF3F8;
  color : gray;
  height : 35px;
  padding-left : 15px;
  border-radius : 5px;
}

header{
  position : sticky;
  top : 0px;
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
  padding : 0px 180px 0px 180px;
}

.header-left{
  display : flex;
  flex-direction : row;
  justify-content : flex-start;
  align-items : center;
  width : 300px;
}

.header-right {
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
  color : gray;
  width : 500px;
  padding-top : 5px;
}

.search-input input {
  outline : none;
  border : none;
  background-color : #EEF3F8;
  font-size : 16px;
}

.options-icons {
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  cursor : pointer;
  font-size : 12px;
}

.options-icons:hover {
  color : black;
}

.profile-avatar{
  font-size : 12px;
}

.profile-avatar img {
  object-fit: contain;
  height : 20px !important;
  width : 20px !important;
  border-radius : 100px;
}

.profile-avatar:hover {
  color : black;
  cursor : pointer;
}

.main-section{
  padding : 0px 180px 0px 180px;
  margin-top : 30px;
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center
}

.main-child1{
  flex : 0.2;
}

.main-child2{
  flex : 0.6;
}

.main-child3{
  flex : 0.2;
}

.sidbar {
  width : 230px;
}

.sidebar-top{
  background-color : white;
  border : 1px solid #d4d4d4;
  border-radius : 10px;

}

img[alt = "Cover Image"]{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width : 100%;
  height : 50px;
}

#SidebarProfileImage{
  width : auto;
  height : 60px;
  border-radius : 100%;
  outline : 2px solid white;
}

.profile-avatar-sidebar {
  text-align : center;
  padding : var(--sidebarPadding);
  margin-top : -35px;
  display : flex;
  flex-direction : column;
  justify-content : space-between;
  align-items : center;
  
}

.profile-avatar-sidebar p{
  margin-top : 20px;
}

.profile-avatar-sidebar a{
  font-size : 16px;
  text-decoration : none;
  color : black
}

.profile-avatar-sidebar a:hover {
  text-decoration : underline;
  text-decoration-color : rgb(131,68,204);
}


#profile-info{
  margin-top : 5px;
  font-size : 12px;
  color : rgb(164,164,164);
  text-align : center;
}

.stats-connections {
  margin-top : 20px;
  border-top : 1px solid #EBEBEB;
  padding : 8px 8px 0px 8px;
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
}

.stats-hover:hover{
  background-color : rgb(224, 223, 221);
  cursor : pointer;
}

#stat-view {
  font-size : 12px;
  color : rgb(130,130,130);
}

#stat-count {
  color : rgb(0, 128, 255);
  font-size : 13px;
}

#stats-info {
  font-size : 12px;
  padding : 0px 8px 8px 8px;
  color : rgb(67,67,67);
}

.stats-profile-visits {
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
  padding : 3px 8px 3px 8px;
  font-size : 12px;
  color : rgb(130,130,130);
}

.stats-profile-visits:hover {
  background-color : rgb(224, 223, 221);
  cursor : pointer;
}

#stats-view{
  color : rgb(0, 128, 255);
  font-size : 13px;
}

.sidebar-top-tools{
  border-top : 1px solid #EBEBEB;
  border-bottom : 1px solid #EBEBEB;
  margin-top : 15px;
  padding : 15px 8px 15px 8px;
}

.sidebar-top-tools:hover{
  background-color : rgb(224, 223, 221);
  cursor : pointer;
}

.sidebar-top-tools p{
  font-size : 12px;
  color : rgb(130,130,130);
}

.premium-offer{
  display : flex;
  flex-direction : row;
  justify-content : flex-start;
  align-items : center;
}

.premium-offer img {
  width : auto;
  height : 15px;
}

.premium-offer a{
  color : black;
  font-size : 12px;
  margin-left : 5px;
}

.premium-offer a:hover {
  color : rgb(0, 116, 231);
}

.items {
  display : flex;
  flex-direction : row;
  justify-content : flex-start;
  align-items : center;
  padding : 12px 8px 12px 8px;
  font-size : 12px;
  color : rgb(67,67,67);
}

.items:hover{
  background-color : rgb(224, 223, 221);
  cursor : pointer;
}

.items img {
  width : auto;
  height : 18px;
  margin-right : 5px;
}